* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.spacer-inner{
    height: 150px;
    width: 100%;
    background-image: var(--spacerImage);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    box-sizing: border-box;
    border: 1px solid red;
}
.spacer{
    margin-top: 0;
    width: 100%;
    height: var(--spacerHeight);
}

.spacer-2{
    margin-top: 0;
    width: 100%;
    height: var(--spacerHeight);
}