* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.spacer{
    margin-top: 2000px;
    /* background-image: var(--spacer); */
    /* background-image: var(--spacerImage); */
    background-image: url('/test.1/src/assets/image/spacer-Thumbnail.jpg');
}
.spacer img{
    margin-top: 0px;
    width: 55px;
}