* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.splooge{
    width: 100%;
    height: 100vh;
    background-image: var(--sploogeImage);
    background-repeat: repeat-x;
    position: fixed;
    background-position: bottom;
    z-index: 8;
}