* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.splooge{
    width: 100%;
    height: 121px;
    background-image: var(--sploogeImage);
    background-repeat: repeat-x;
    position: fixed;
    bottom: 0;
    z-index: 8;
}